<div class="row">
    <div class="row">
        <div class="input-field col s12">

            <strong>¿Está seguro(a) de eliminar el registro con la siguiente información?</strong>
            <br />
            <ul>
                <li>
                    Id: {{id}}
                </li>
                <li>
                    Nombre: {{nombre}}
                </li>
                <li>
                    Tipo: {{tipoProgramaAcademico}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button type="button" class="btn btn-success" (click)="EliminarProducto()">Confirmar</button>
            &nbsp;<a class="btn btn-warning orange" routerLink="/programa">Cancelar</a>
        </div>
    </div>
</div>
