<div class="container m-5 cls-login">
    <div class="row">
      <div class="col">
        <h1>{{titulo}}</h1>
      </div>
    </div>

    <div class="row">
        <div class="col cls-container-form">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Direccion de email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  [(ngModel)]="usuarioLogin.codigo" [ngModelOptions]="{standalone: true}"
                  >
                  <div id="emailHelp" class="form-text">Nunca compartiremos su email.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"
                  [(ngModel)]="usuarioLogin.contrasenia"
                  >
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                </div>
                <button type="submit" class="btn btn-primary"
                (click) = "mostrarInfo()"
                >Ingresar</button>
              </form>
        </div>
      </div>
  </div>