<footer class="page-footer blue-grey darken-4">
  <div class="container ">
    <div class="d-flex justify-content-center align-items-center">
      <!-- Grid column -->
      <div class="my-4">
        <!-- Facebook -->
        <a class="col text-decoration-none iconos-footer" href="#">
          <i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i>
        </a>
        <!-- Twitter -->
        <a class="col text-decoration-none iconos-footer" href="#">
          <i class="fab fa-twitter fa-2x" aria-hidden="true"> </i>
        </a>
        <!--Instagram-->
        <a class="col text-decoration-none iconos-footer" href="#">
          <i class="fab fa-instagram fa-2x" aria-hidden="true"> </i>
        </a>
        <!-- Google +-->
        <a class="col text-decoration-none iconos-footer" href="#">
          <i class="fab fa-google-plus-g fa-2x" aria-hidden="true"> </i>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Edu Free</h5>
        <p class="grey-text text-lighten-4">
          “Un título universitario no es una señal de un producto terminado,
          sino una indicación de que una persona está preparada para la vida”.
          Reverendo Edward A. Malloy.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactanos</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Sede Principal Calle 65 No 26 - 10</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Tel +57 6 8781500 Fax 8781501</a></li>
          <hr>
          <li><a class="grey-text text-lighten-3" href="#!">Trabaja con nosotros</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">E-mail edufree@ucaldas.edu.co</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-3">
    <div class="container">© 2021 Copyright Universidad Edu Free</div>
  </div>
</footer>
