<div class="m-5">
    <h2 class="center">Docentes</h2>
    <hr>
    
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1524</th>
                    <td>Carlos Giraldo</td>
                    <td>Programación 1</td>
                    <td>
                        <button type="button" class="btn btn-primary">Ver Grupos</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1584</th>
                    <td>Maria Rodriguez</td>
                    <td>Ciencias de la cumputación</td>
                    <td>
                        <button type="button" class="btn btn-primary">Ver Grupos</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2015</th>
                    <td>Jose Peralte</td>
                    <td>Matematicas 1</td>
                    <td>
                        <button type="button" class="btn btn-primary">Ver Grupos</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1252</th>
                    <td>Luis Cañaveral</td>
                    <td>Ingles 1</td>
                    <td>
                        <button type="button" class="btn btn-primary">Ver Grupos</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
