<nav>
    <div class="nav-wrapper">
        <a routerLink="/inicio"><img src="./assets/LogoEF.png" width="200" height="67"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-persona">Nuevo usuario</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="#">Components</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">Iniciar Sesión</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/crear-persona">Nuevo usuario</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="#">Components</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">Iniciar Sesión</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
</ul>