<div class="m-5">
<h2 class="center">Estudiante</h2>
<hr>
<h3>Grupos matriculados</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Horario</th>
                <th scope="col">Materia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">41286B</th>
                <td>Grupo 33</td>
                <td>Miercoles-Sabado 4pm-6pm</td>
                <td>Paradigmas de Programación</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">61986a</th>
                <td>Grupo 26</td>
                <td>Lunes-Viernes 6pm-8pm</td>
                <td>Programación WEB</td>
            </tr>
            <tr>
                <th scope="row">34194x</th>
                <td>Grupo 07</td>
                <td>Lunes-Sabado 10am-12pm</td>
                <td>Introducción Angular</td>
            </tr>
            <tr>
                <th scope="row">24394s</th>
                <td>Grupo 17</td>
                <td>Jueves-Domingo 4pm-10pm</td>
                <td>Matematicas</td>
            </tr>
        </tbody>
    </table>
</div>
