
  <div class="row container">

  <h3 class="center-align">
    Crear Programas
  </h3>
  <article class="col s6 offset-s3">
  <form [formGroup]="fgValidator" (ngSubmit)="GuardarPrograma()" method="POST">
    <div class="form-group">
      <label for="exampleInputPrograma">Programa Academico</label>
      <input formControlName="nombre" type="text" class="form-control" id="nombrePrograma" aria-describedby="ayudaPrograma"
        placeholder="Ingrese Nombre Programa" required>

    </div>
    <div class="form-group">
      <label for="tipoProgramaAcademico">Selecione un Tipo Programa Acadmico</label>
      <select formControlName="tipoProgramaAcademico" type="text" class="form-control" id="tipoProgramaAcademico" placeholder="Tipo Programa" required>
        <option value="">Seleccione un tipo</option>
        <option value="Técnico">Técnico</option>
        <option value="Tecnólogo">Tecnólogo</option>
        <option value="Pregrado">Pregrado</option>
        <option value="Posgrado">Posgrado</option>
        <option value="Doctorado">Doctorado</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Imagen</label>
      <input formControlName="imagen" type="text" class="form-control" id="imagen" placeholder="Dirección web imagen" required>
    </div>

    <button [disabled]="!fgValidator.valid" type="submit" class="btn btn-primary">Crear</button>
  </form>
</article>
</div>
