<h2 class="center">Listado de Materias</h2>
<hr>
<table class="table responsive container">
  <thead>
    <tr>
      <th scope="col">
        <h5><b>Materias</b></h5>
      </th>
      <td>
        <button routerLink="/administracion/crear-materia/" class="btn btn-warning green">Nueva materia</button>
      </td>
    </tr>
  </thead>
  <tbody>
    <!-- Una fila para cada registro en BD -->
    <!-- Para cada usuario que esta dentro de la lista listadoUsuarios hacer -->
    <tr *ngFor="let materia of listadoMaterias">
      <td>
        <h5>{{ materia.nombre }}</h5>
      </td>
      <td>
        <a routerLink="/administracion/editar-materia/{{ materia.id }}" class="btn">Editar</a>
      </td>
      <td>
        <button routerLink="/administracion/eliminar-materia/{{ materia.id }}"
          class="btn btn-warning red">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>